
body {
	padding: 20px;
}

#info {
    height:24px;
}

h2 {
    margin-top:10px;
}

#results {
    margin-left:20px;
    margin-top:10px;
}

#biography {
	margin-bottom:10px;
}

li {
	margin-top:7px;
	margin-bottom:7px;
}
